/original_implementation_by_tf/stylegan2-ffhq-config-f.pkl
/original_implementation_by_tf/stylegan2_ndarray.pkl
/original_implementation_by_tf/stylegan2_state_dict.pth
/original_implementation_by_tf/stylegan2
/generated_imgs/latents2.pkl

